.orientation nav a.people {display:block; width:4em; position:absolute; top:80px; right:725px; text-decoration:none; color:#ebaa98;}
.orientation nav a.place {display:block; width:4em; position:absolute; top:90px; right:435px; text-decoration:none; color:#98d9a6;}
.orientation nav a.practice {display:block; width:4em; position:absolute; top:225px; right:435px; text-decoration:none; color:#e4dfaf;}
